.background_body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F6F6;
}



/***** css all type *****/
.c-purple {
    color: #503EB6;
}

.c-orange {
    color: #FF901C;
}

.c-white {
    color: #ffffff;
}

.c-dark {
    color: black;
}

.bg-warning-2{
    background-color: #FF901C;

}

.bg-white-2{
    background-color: #ffffff;

}

/* Áp dụng animation cho class c-nav-animation */
.c-nav-animation {
    animation: blinkingText 1.5s infinite;  /* 1.5s là tốc độ của một chu kỳ animation */
    font-weight: 500;  /* Để text dễ nhìn hơn */
}

/* Định nghĩa keyframes cho animation */
@keyframes blinkingText {
    0% { color: red; }
    50% { color: #FFD700; }  /* Màu vàng */
    100% { color: red; }
}

.color-hover-orange:hover {
    color: #FF901C;
}

/***** End css all type *****/


/***** header-top *****/
.header-top {
    width: 100%;
    height: 75px;

    .header-top-logo .header-top-logo-image {
        width: 200px;
        margin-top: 9px;
        transform: translateX(-38px);
    }

    .header-top-search {
        position: relative;
    }

    .header-top-search-input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px 20px;
        font-size: 16px;
        color: #333;
        margin: 20px 0;
        outline: none;
    }

    .header-top-search img {
        position: absolute;
        right: 15px;
        top: 23px;
        width: 37px;
    }

    .header-top-contact {}

    .header-top-contact-call-1 {
        display: flex;

    }

    .header-top-contact-call-1 img {
        width: 80px;
    }

    .header-top-contact-call-1-content {}

    .header-top-contact-call-2 {
        display: flex;

    }

    .header-top-contact-call-2 img {
        width: 80px;
    }

    .header-top-contact-call-2-content {}

}

/***** End header-top *****/



/***** container-nav *****/
.container-nav {
    height: 50px;
    background-color: #503EB6;

    .nav-list {
        transform: translateY(5px);
    }

       .nav-list-product {
        display: flex;
        align-items: center; /* Center vertically */
        background-color: #FF901C;
        border-radius: 7px;
        cursor: pointer;
        width: 230px;
        margin-right: 10px;
        position: relative; /* Để sử dụng ::after */
        overflow: hidden; /* Đảm bảo lớp phủ không tràn ra ngoài */
        

    }
    
    .nav-list-product:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(84, 35, 84, 0.2); /* Màu tím mờ nhẹ */
        pointer-events: none; /* Đảm bảo lớp phủ không ảnh hưởng đến sự kiện chuột */
        transition: background-color 0.5s;
    }
    .nav-list-product-item {
        display: flex;
        transform: translateY(5px);
        transform: translateX(-10px);

    }

    .nav-list-product-item-bg-i {
        background-color: #503EB6;
        padding: 5px;
        height: 38px;
        border-radius: 5px;
    }

    .nav-list-product-item-bg-i i {
        font-size: 29px;
    }

    .nav-list-product-item-text {
        font-size: 15px;
        font-weight: 600;
        padding: 0 10px;
        transform: translateY(7px);

    }

    /*  */



    .nav-list-product-hot {
        background-color: #ffffff;
        border-radius: 5px;
    }
    
    .nav-list-product-hot-item {
        display: flex;
    }
    
    .nav-list-product-hot-item-list {
        transform: translateY(8px);
        display: flex;
    }
    
    .nav-list-product-hot-item-label {
        font-weight: 700;
        position: relative;
    }
    

    .nav-list-product-hot-item-text {
        font-weight: regular;
        padding: 0 10px;
        position: relative;
        transform: translateX(10px);
    }
    
    .nav-list-product-hot-item-tick::after {
        content: "";
        display: block;
        height: 30px;
        width: 1px;
        background-color: rgb(199, 198, 172);
        position: absolute;
        top: -10%;
        right: 0;
    }
    
    /*  */

    .nav-list-product-icon {
        display: flex;
        width: 15%;
    }

.nav-list-product-search-icon-item {
    padding: 5px 11px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 5px;
}
.nav-list-product-search-icon-item i{
    font-size: 18px;
    color: #503EB6;
    transform: translateY(5px);
}
}

/***** End container-nav *****/






/***** banner-home *****/ 

.container-home-banner {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    #mainCarousel img {
        width: 100%;
        /* object-fit: cover; */
        height: 368px;
    }
    .image-banner-home-right{
        /* width: 48%; */
    }
    .image-banner-home-right-image.image-2{
       margin-top: 10px;
       margin-bottom: 10px;
    }
}
.image-banner-home-right-image{
    margin-left: 25px;
    width: 90%;
}
.description-item {
    cursor: pointer;

}
.description-item h5 ,.description-item p{
    text-align: center;
}
.description-item.active {
    border-top: 2px solid orange;
    /* font-size: 0.9em; */
    position: relative;
}
.description-item.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(218, 213, 205, 0.2);
    z-index: -1;
}
/***** End banner-home *****/










/***** popular-category *****/ 

.shop-offers {

}



.shop-offers-item  {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    /* margin: 10px; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    width: 320px;
}

.shop-offers-item-image {
    width: 50px;
    height: 50px;
    transform: translateY(10px);

}

.shop-offers-item-content {
    transform: translateY(10px);
    margin-left: 5px;
}

/***** End popular-category *****/

/***** populer category *****/ 

.container-popular-category {}

.popular-category-title {}




.popular-category-item  {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 0 27px;
}

.center-text {
    display: block;
    text-align: center;
    
}
.popular-category-item img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}



/***** End populer category *****/
